@section header
{
    <h1 class="text-5xl font-bold">@Model.CityUniqueCode</h1>
}

<section class="grid w-full justify-center">
    <partial name="Partials/_WeatherDetailsPartialView"/>
</section>
    
