@section header {
    <h1 class="text-5xl font-bold">Weather</h1>
}
<section class="grid xs:grid-cols-1 md:grid-cols-3 gap-4 mt-10">
    <partial name="Partials/_.WeatherListPartialView"/>
</section>


